//nav styles
nav{
    .logo {
      display: block;
      padding: 14px 20px;
      text-decoration: none;
    }
    ul{
      display: flex;
      align-items: center;
      margin: 0;
  
      .navlink {  
            padding-bottom: $padding-bottom;
            border-bottom: 1px solid black;
            &:hover {
              border-bottom: 1px solid lightgray;
              a {color: lightgray;}
            }
      }
  
      .active {
        color: white;
        padding-bottom: $padding-bottom;
        border-bottom: 1px solid $primary;
        a {
          color: lightgray;
        }
      }
  
      
  
      li{
        list-style-type: none;
        padding-bottom: $padding-bottom;
  
        .view-source-btn {
          border: 1px solid white;
          border-radius: 5px;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin-left: $margin-10;
          cursor: pointer;
        }
        
  
        &:nth-child(2) {
          margin-left: auto;
        }
  
        
        a{
          text-decoration: none;
          color: black;
          text-align: center;
          margin: 20px;        
        }
      }
    }
    //media queries
    @media screen and (max-width: $mobile-breakpoint) {
      ul {
        flex-direction: column;
        .navlink {
          border-bottom: none;
          padding: 10px 0;
        }
        .active {
          border-bottom: none;
        }
        li {
          padding-bottom: 5px;
  
          &:nth-child(2) {
            margin-left: 0;
            margin-top: $margin-10;
          }
  
          .view-source-btn {
            margin: $margin-10 0;
          }}
      }
    }
  }
