//variables
$mobile-breakpoint: 768px;
$primary: #1919d7;
$dark-bg: #161616;
$tag-bg: rgb(76, 146, 114);
$card-shadow: rgba(0, 0, 0, 0.1);
$card-hover-shadow: rgba(0, 0, 0, 0.3);
$icon-color: #007bff;
$icon-size: 8rem;
$radius: 7px;
$padding-bottom: 10px;
$margin-10: 10px;

@mixin card-styles {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px $card-shadow;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0 15px $card-hover-shadow;
  }
}

.has-text-centered {
  text-align: center;
}
@import "_nav";
@import "_footer";
@import "_header";
@import "_icon-cards";
@import "_info-box";
@import "_hover-cards";
@import "_vertical-tiles";
@import "_card-list";

//styles
html,
body {
  background: #EFF3F4;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
